
<div class="panel panel-default">
  <div class="panel-body">
    <h1>About Me</h1>
  </div>
  <div class="panel-footer">
  	<p>
	 <strong>Name:</strong> Nicholas M. Vo <br />
	 <strong>Age:</strong> 32 <br />
	 <strong>Occupation:</strong> Student/Musician <br />
    </p>
  </div>
</div>